@font-face {
  font-family: "MemphisRiver";
  src: url('../../../Memphis\ River.otf');
}
 .container {
  height: 60px;
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  border-bottom: solid 1px #ddd;
}
.menu-icon {
  display: none;
}
.nav {
  cursor: pointer;
  font-weight:600;
 
}
.profile {
  margin-left: 10px;
}


@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.navLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  margin: 10px;
  padding: 5px;
}
.search-input {
  border: none;
  width: 100%;
  padding: 10px 0px;
}
.search-input:focus-visible {
  border: none;
  outline: none;
}
.navCenter {
  flex: 1;
  text-align: center;
}
.navLeft img{
    height: 75px;
}
.navRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-bar {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu-bar .menu-item {
  margin-left: 25px;
  font-size: 14px;
  cursor: pointer;
}
.menu-bar .menu-item a {
  color: #333;
  text-decoration: none;
}
.cart-mobile-view {
  display: none;
}
.nav-flyout {
  display: none;
}

/* media query 380 */
@media only screen and (max-width: 375px) {
  .container {
    height: 25px;
    margin-right: 9px;
    padding: 10px 5px;
  }
  .search-input {
    width: 50px;
  }
  .nav h1 {
    font-size: 16px;
  }
  .navRight {
    justify-content: center;
  }
  .menu-bar .menu-item {
    margin-left: 9px;
    font-size: 12px;
  }
  .navRight {
    flex: 2;
  }
}
@media only screen and (max-width: 370px) {
  .container {
    height: 25px;
    margin-right: 5px;
    padding: 10px 0px;
  }
  .nav h1 {
    font-size: 12px;
  }
  .menu-bar .menu-item {
    
    font-size: 11px;
  }
 #rg{
  text-decoration: none;
  color:blue;
 }
}
@media only screen and (max-width: 390px) {
  .container {
    height: 25px;
    margin-right: 9px;
    padding: 10px 5px;
  }
  .nav h1 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 460px) {
  .announcement-container {
    margin-top: 75px;
  }
  .nav-flyout {
    position: fixed;
    width: 95vw;
    height: 100vh;
    background-color: #fff;
    border: solid 1px rgb(162, 162, 162);
    left: 0;
    top:0;
    transition: all 500ms ease-in-out;
    display: block;
    left: -95vw; 
    z-index: 102;
  }

  .nav-flyout.open {
    left: 0;
  }
  .cart-mobile-view {
    display: block;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 100;
  }
  .cart-mobile-view a {
    color: #333
  }
  .nav.navRight .menu-bar .cart-icon {
      display: none;
  } 
  .menu-icon {
    display: block;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 100;
  }
   .menu-icon svg {
      font-size: 2.5rem;
   }
  .navLeft {
    justify-content: center;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    padding: 7px;
    z-index: 99;
    border-bottom: solid 2px #ddd;
  }
  .navLeft img {
    height: 55px;
  }
  .container {
    flex-direction: column;
    height: auto;    
  }
 
  .container_catagories {
    flex-direction: column;
  }
  .newsletter_container {
    height: auto;
    padding: 10px 0;
  }
  .newsletter_container .input_container {
    width: 90%;
  }
  .search-container {
    display: none;
  }
  /* .container {
    height: 25px;
    margin-right: 10px;
    padding: 10px 0px;
    width:90vh;
  }
  .search-input {
    width: 60px;
  }
  .nav h1 {
    font-size: 19px;
  }
  .menu-bar .menu-item {
    margin-left: 9px;
    font-size: 14px;
  }
  .navRight {
    flex: 2;
  } */
}
