.footer_container{
    display: flex;

}
.footer_left{
flex:1;
display: flex;
flex-direction: column;
padding: 20px;
}

.desc{
 margin: 20px 0px;
}
.social_content{
display: flex;
}
.socialIcon{
 width:40px;
 height:40px;
 border-radius: 50%;
 /* color:white; */

}
.facebook{
    color:#3B5999;
    cursor: pointer;
}
.insta{
    color:#E4405F;
    cursor: pointer;
}
.twitter{
    color:#55ACEE;
    cursor: pointer;
}

 .youtube{
    color:red;
    cursor: pointer;
 }
.footer_center{
    flex:1;
    padding: 20px;
}
.footer_title{
margin-bottom: 30px;;
}
.footer_listitem_ul{
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap; 
}

.footer_listitem_li{
    width: 50%;
   margin-bottom: 10px;
   cursor: pointer;
   
}
.footer_listitem_li .link{
    text-decoration: none;
    color:black;
}
.link:hover{
    
    font-size:15px;
}
.footer_right{
    flex:1;
    padding: 20px;
}
.contact_title{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.contact_item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.payment{
    height: 33px;
    width: 162px;
}
.room{
    margin-right: 10px;
}
.mail_office{
    text-decoration: none;
    color:black;
    padding-right:15px;
}
.mail_office:last-child {
    padding-left:15px;
}
.mail_office:hover{
    color:blue;
}
@media only screen and (max-width: 375px) {
    .footer_center{
        display: none;
    }
    .footer_container{
        flex-direction: column;
    }
    .footer_right{
        background-color: #fff8ff;
        padding: 0px 7px 0px 28px;
    }
    .footer_left{
        padding: 0px 7px 0px 28px;
    }
    
}
  
@media only screen and (max-width: 460px) {
    .footer_center{
        display: none;
    }
    .footer_container{
        flex-direction: column;
    }
}