/* #pacmanLdr{
   
   
    justify-content: center;
    width:100%;
   margin:17% 37%;
    align-items: center;
}
@media only screen and (max-width: 375px) {
    #pacmanLdr{
        justify-content: center;
        width:100%;
        margin:65% 20%;
         align-items: center;
        
         height: 100vh;
    }
} */