/* #pacmanLdr{
   
   
    justify-content: center;
    width:100%;
   margin:17% 37%;
    align-items: center;
}
@media only screen and (max-width: 375px) {
    #pacmanLdr{
        justify-content: center;
        width:100%;
        margin:65% 20%;
         align-items: center;
        
         height: 100vh;
    }
} */
.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
  } 
  .header-title:after {
      content: ' ';
      border: solid 1px black;
      width: 180px;
      position: absolute;
      bottom: -15px;
  
  }